# Directories
logs/
src/diagnostics

# Those pesky pycache dirs
**/__pycache__
*.pyc

# .csv files anywhere in the tests/ directory
tests/**/*.csv

# .csv files anywhere in the output/ directory
output/**/*.csv

# CMIP6 input files
input/cmip/**/*.csv

# Script logs
scripts/**/*.log
scripts/**/*.out